/*stylesheet test.css*/

/* fonts */

@font-face { font-family: 'meine schrift';
    src: url(NixieOne-Regular.ttf) format(truetype);
}
@font-face {font-family: 'raleway';
    src: url(Raleway-Medium.ttf) format(truetype);
}

/* body */

body {
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}
    
/* HEADER */

header {
    width: 100%;
    text-align: center;
    margin: 0;
    padding-bottom: 0.5em;
    background-image: url(header.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}


nav {
    word-spacing: 2em;
    margin-bottom: 3em;
    margin-top: 5em;
}

#wegweiser {
    width: 5%;
    position: relative;
    left    : 20px;
    top     : -45px;
    padding : 10px;

}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

li {
    display: inline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    border-top-style: groove;
    border-top-color: grey;
    border-bottom-style: groove;
    border-bottom-color: grey;
    border-width: 0.5pt;
    padding: 1em;
}

li:hover {
    background-color: lightcoral;
    size: 8pt;
    padding: 0.5em

}

a {
    color: black;
    text-decoration: none
}

h1 {
    color: #000000;
    font-family: 'meine schrift';
    font-size: 60pt;
    margin:0;
    padding-top: 1em
}

/* MAIN */
 main {
     margin-top: 2em;
 }
 
aside {
    float: left;
    width: 17%;
    position: relative;
    margin-left: 2em;
}

aside:hover p {
    overflow: visible;
    white-space: normal;
    position: absolute;
}

aside p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

section {
    width: 50%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 8em;
    padding-top:0
}

  
section:first-of-type h2 {
    padding-top: 0;
    margin-top: 0
}


 article {
    width: 30.5%;
    float: left;
    overflow: auto;
    max-height: 15em;
    margin: 0.25em;
    margin-top: 0.75em;
    padding: 0.3em;
    background-color: #fce8ea
}

article:nth-child(3n) {
    clear: right;
}

article.big {
    clear: both;
    display: inline-block;
    margin-top: 1.5em;
    margin-bottom: 2em;
    width: 100%;
}

article.big img {
    float: left;
    width: 325px;
    margin-right: 1em
}

h3 {
    margin-bottom: 0.5em;
}

h2 {
    margin-bottom: 0.4em;
    margin-top: 3em;
    float: left;
    margin-right: 100%;
    font-family: 'raleway';
    border-left-color: #fbdadd;
    border-left-width: 2pt;
    border-left-style: solid;
    padding-left: 5pt;
}

/* FOOTER */

footer {
    width: 100%;
    clear: both;
    position: relative;
    height: 40px;
    margin-top: -40px;
}

/* responsive web design */

@media screen and (max-width: 400px) {
    section {
        width: 85%;
        margin: 0;
        padding: 0
    }
    article, article.big {
        width: 85%;
        float: none;
        margin-right: 0;
        margin-left: 1.5em;
        max-height: 45em
        
    }

    article.big img {
        width: 200px
    }

    article:nth-child(1n) {
        clear: right;
    }
    aside{
        position: static;
        display : block;
        width   : 100%;
        float: left;
    }
    
  
    main {
        width: 100%;
    }
}

@media screen and (min-width: 700px) {
    header {
        size: 100%
    }
}