/*stylesheet news.css*/

/* HEADER */
header {
    width: 100%;
    text-align: center
}

header img {
    float: left;
    position: absolute;
    margin-left: -12em
}

nav {
    word-spacing: 2em;
    margin-bottom: 5em
}

ul {
    list-style-type: none
}

li {
    display: inline
}

/* MAIN */

aside {
    float: left;
    width: 20%;
    block-size: 4em;
    text-overflow: ellipsis;
    background-color: white
 
        
        


}

aside :hover {
    position: absolute;
    width: 35%;
    background-color: white;
    padding-top: 2em;
    padding-bottom: 2em

}

section {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%


}


article {
    width: 25%;
    float: left;
    overflow: auto;
    clear: right
}

h2 {
    padding-top: 1.5em;
    padding-bottom: 1.5em
    
}

/* FOOTER */

footer {
    width: 100%;
    clear: both;
    position: relative;
    height: 40px;
    margin-top: -40px;


}